body {
  background-color: #56595d;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 65%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 950px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    flex-direction: column;
  }
}

.profile {
  min-width: 330px;
  flex: 4.5;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
}
.about{
  margin: 0px 15px;
}
.detailscontainer {
  min-width: 330px;
  background-color: #ffffff;
  flex: 5.5;
  display: flex;
  flex-direction: column;
}

.education {
  padding: 15px 15px;
  flex: 2;
  background-color: #C9CAC5;
}

.details {
  padding: 15px 15px;
  flex: 8;
  background-color: #F2F2F2;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  color: white;
}

.imgcontainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
}

.img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 100px;
}

#heading {
  text-align: center;
  margin-bottom: 0px;
}

.profile a {
  color: white;
  text-decoration: none;
}

.profile a:hover {
  color: #c9cac5;
}

#subheading {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
}

.profile p {
  margin-top: 0px;
  font-size: 16px;
  text-align: left;
}

.profile ul {
  padding: 0;
  margin: 0;
}

.profile li {
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile h3, .detailscontainer h3 {
  font-family: sans-serif;
  text-decoration: underline solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  margin-top: 15px;
}

.detailscontainer p {
  font-size: 12px;
}

.detailscontainer h5 {
  margin-bottom: 0px;
}

.detailscontainer progress {
  max-width: 70px;
  appearance: none;
  -webkit-appearance: none;
  max-height: 6px;
  margin: 10px 0px 2px 10px;
}

.details ul {
  padding: 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.detailscontainer li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 200px;
  margin: 0px 10px 10px 10px;
  font-weight: bold;
  font-size: 15px;
}

@media only screen and (max-width: 650px) {
  .detailscontainer li {
    min-width: fit-content;
    margin: 0px 15px 15px 10px;
  }
  .details ul {
    padding: 0px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

progress[value]::-webkit-progress-bar {
  background-color: grey;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: black;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: #282C34;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}